public/user_images/7-uploads/shyam-profile-7.JPG
public/user_images/8-uploads/shyam-left_palm-8.JPG
public/user_images/8-uploads/shyam-profile-8.JPG
public/user_images/8-uploads/shyam-right_palm-8.JPG